menuconfig VFIO
	tristate "VFIO Non-Privileged User Space driver"
	depends on IOMMU_API
	help
	  If you don't know what to do here, say N.

menuconfig VFIO_PCI
	tristate "VFIO support for PCI devices"
	depends on VFIO && PCI
	help
	  If you don't know what to do here, say N.
